body {
  padding: 15px;
  -webkit-user-select: none;
}

#alert {
  background: #000;
  color: #FFF;
  display: none;
  font-size: 25px;
  height: 100%;
  left: 0;
  opacity: .9;
  position: fixed;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
}

#alert span {
  display: table-cell;
  vertical-align: middle;
}

#controls {
  text-align: center;
}

#controls ul {
  display: table;
  margin: 0;
  overflow: auto;
  padding: 0;
  vertical-align: middle;
}

#controls li {
  display: table-cell;
  list-style: none;
  padding-right: 10px;
}

#controls li:last-child {
  padding-right: 0;
}

#controls a {
  color: #FFF;
  display: table;
  height: 50px;
  outline: none;
  text-decoration: none;
  width: 50px;
}

#controls #play.play {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiM0RDRENEQiIGQ9Ik0zNy4zIDMuOGMxOC4yIDAgMzMgMTQuOCAzMyAzM3MtMTQuOCAzMy0zMyAzMy0zMy0xNC44LTMzLTMzIDE0LjgtMzMgMzMtMzNtMC0zYy0xOS45IDAtMzYgMTYuMS0zNiAzNnMxNi4xIDM2IDM2IDM2IDM2LTE2LjEgMzYtMzYtMTYuMS0zNi0zNi0zNnoiLz48cGF0aCBmaWxsPSIjNTg1OTVCIiBkPSJNMzEuNCAyMS43Yy0uMy0uMy0uNy0uNC0xLjEtLjQtLjMgMC0uNC4xLS42LjItLjYuMy0uOCAxLS44IDEuN3YyOWMwIC43LjIgMS40LjggMS43LjMuMS41LjIuNy4yLjQgMCAuNy0uMSAxLjEtLjRsMTkuMy0xNC41Yy41LS40LjctLjkuNy0xLjVzLS4zLTEuMi0uOC0xLjVMMzEuNCAyMS43eiIvPjwvc3ZnPg==');
  height: 70px;
  width: 70px;
}
#controls #play:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiNERjJGMkIiIGQ9Ik0zNy4zIDMuOGMxOC4yIDAgMzMgMTQuOCAzMyAzM3MtMTQuOCAzMy0zMyAzMy0zMy0xNC44LTMzLTMzYzAtMTguMSAxNC44LTMzIDMzLTMzbTAtM2MtMTkuOSAwLTM2IDE2LjEtMzYgMzZzMTYuMSAzNiAzNiAzNiAzNi0xNi4xIDM2LTM2YzAtMTkuOC0xNi4xLTM2LTM2LTM2eiIvPjxwYXRoIGZpbGw9IiM1ODU5NUIiIGQ9Ik0zMS40IDIxLjdjLS4zLS4zLS43LS40LTEuMS0uNC0uMyAwLS40LjEtLjYuMi0uNi4zLS44IDEtLjggMS43djI5YzAgLjcuMiAxLjQuOCAxLjcuMy4xLjUuMi43LjIuNCAwIC43LS4xIDEuMS0uNGwxOS4zLTE0LjVjLjUtLjQuNy0uOS43LTEuNXMtLjMtMS4yLS44LTEuNUwzMS40IDIxLjd6Ii8+PC9zdmc+');
}
#controls #play.pause {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiM1ODU5NUIiIGQ9Ik0zOS41IDI1aDh2MjRoLTh6bS0xMyAwaDh2MjRoLTh6Ii8+PHBhdGggZmlsbD0iIzRENEQ0RCIgZD0iTTM3LjMgMy44YzE4LjIgMCAzMyAxNC44IDMzIDMzcy0xNC44IDMzLTMzIDMzLTMzLTE0LjgtMzMtMzMgMTQuOC0zMyAzMy0zM20wLTNjLTE5LjkgMC0zNiAxNi4xLTM2IDM2czE2LjEgMzYgMzYgMzYgMzYtMTYuMSAzNi0zNi0xNi4xLTM2LTM2LTM2eiIvPjwvc3ZnPg==');
  height: 70px;
  width: 70px;
}
#controls #play.pause:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiM1ODU5NUIiIGQ9Ik0zOS41IDI1aDh2MjRoLTh6bS0xMyAwaDh2MjRoLTh6Ii8+PHBhdGggZmlsbD0iI0RGMkYyQiIgZD0iTTM3LjMgMy44YzE4LjIgMCAzMyAxNC44IDMzIDMzcy0xNC44IDMzLTMzIDMzLTMzLTE0LjgtMzMtMzNjMC0xOC4xIDE0LjgtMzMgMzMtMzNtMC0zYy0xOS45IDAtMzYgMTYuMS0zNiAzNnMxNi4xIDM2IDM2IDM2IDM2LTE2LjEgMzYtMzZjMC0xOS44LTE2LjEtMzYtMzYtMzZ6Ii8+PC9zdmc+');
}

#controls #next {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiM1ODU5NUIiIGQ9Ik0zOS45IDI2LjNjLS4yLS4yLS41LS4zLS44LS4zLS4yIDAtLjIgMC0uNC4xLS40LjItLjYuNy0uNiAxLjF2Ni40bC05LjktNy41Yy0uMi0uMi0uNS0uMy0uOC0uMy0uMiAwLS4yIDAtLjQuMS0uNC4yLS42LjctLjYgMS4xdjE5LjZjMCAuNS4xLjkuNiAxLjEuMi4xLjMuMS41LjEuMyAwIC41LS4xLjctLjNsOS45LTcuNHY2LjRjMCAuNS4xLjkuNiAxLjEuMi4xLjMuMS41LjEuMyAwIC41LS4xLjctLjNsMTMtOS44Yy4zLS4yLjUtLjYuNS0xcy0uMi0uOC0uNS0xbC0xMy05LjN6Ii8+PHBhdGggZmlsbD0iIzRENEQ0RCIgZD0iTTM3IDMuOGMxOC4yIDAgMzMgMTQuOCAzMyAzM3MtMTQuOCAzMy0zMyAzM1M0IDU1IDQgMzYuOHMxNC44LTMzIDMzLTMzbTAtM0MxNy4xLjggMSAxNyAxIDM2LjhzMTYuMSAzNiAzNiAzNiAzNi0xNi4xIDM2LTM2UzU2LjkuOCAzNyAuOHoiLz48L3N2Zz4=');
}
#controls #next:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NCA3NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNzQgNzQiPjxwYXRoIGZpbGw9IiM1ODU5NUIiIGQ9Ik0zOS45IDI2LjNjLS4yLS4yLS41LS4zLS44LS4zLS4yIDAtLjIgMC0uNC4xLS40LjItLjYuNy0uNiAxLjF2Ni40bC05LjktNy41Yy0uMi0uMi0uNS0uMy0uOC0uMy0uMiAwLS4yIDAtLjQuMS0uNC4yLS42LjctLjYgMS4xdjE5LjZjMCAuNS4xLjkuNiAxLjEuMi4xLjMuMS41LjEuMyAwIC41LS4xLjctLjNsOS45LTcuNHY2LjRjMCAuNS4xLjkuNiAxLjEuMi4xLjMuMS41LjEuMyAwIC41LS4xLjctLjNsMTMtOS44Yy4zLS4yLjUtLjYuNS0xcy0uMi0uOC0uNS0xbC0xMy05LjN6Ii8+PHBhdGggZmlsbD0iI0RGMkYyQiIgZD0iTTM3IDMuOGMxOC4yIDAgMzMgMTQuOCAzMyAzM3MtMTQuOCAzMy0zMyAzM1M0IDU1IDQgMzYuOGMwLTE4LjEgMTQuOC0zMyAzMy0zM20wLTNDMTcuMS44IDEgMTcgMSAzNi44YzAgMTkuOSAxNi4xIDM2IDM2IDM2czM2LTE2LjEgMzYtMzZDNzMgMTcgNTYuOS44IDM3IC44eiIvPjwvc3ZnPg==');
}

#controls #like {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdmlld0JveD0iMCAwIDQ4IDQ4IiB2ZXJzaW9uPSIxLjEiIHk9IjBweCIgeD0iMHB4IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPgoJCTxwYXRoIGQ9Im0yNC4zIDQyLjNjLTAuMSAwLTAuMyAwLTAuNC0wLjFsLTAuMS0wLjFjLTAuMS0wLjEtMC4zLTAuMi0wLjYtMC40LTEuNC0wLjktNC41LTMuMi02LjYtNC44LTgtNi4yLTEyLjItMTAuNy0xMi45LTEzLjktMC40LTEuMi0wLjYtMi40LTAuNi0zLjggMC0zLjUgMS4zLTYuOSAzLjYtOS4zIDIuMS0yLjIgNC45LTMuNCA3LjktMy40IDMuNyAwIDcuMSAxLjcgOS4zIDQuNiAyLjItMyA1LjUtNC43IDkuMi00LjhoMC4yYzYuMyAwIDExLjUgNS42IDExLjYgMTIuNCAwIDEuMy0wLjIgMi42LTAuNSAzLjktMC42IDMuMi00LjggNy45LTEyLjQgMTQuMS0zIDIuNS01LjQgNC4zLTcuMiA1LjQtMC4yIDAuMS0wLjMgMC4yLTAuNSAwLjJ6IiBmaWxsPSIjNTg1OTVCIi8+Cjwvc3ZnPgo=');
}
#controls #like:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdmlld0JveD0iMCAwIDQ4IDQ4IiB2ZXJzaW9uPSIxLjEiIHk9IjBweCIgeD0iMHB4IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPgoJCTxwYXRoIGQ9Im0yNC4zIDQyLjNjLTAuMSAwLTAuMyAwLTAuNC0wLjFsLTAuMS0wLjFjLTAuMS0wLjEtMC4zLTAuMi0wLjYtMC40LTEuNC0wLjktNC41LTMuMi02LjYtNC44LTgtNi4yLTEyLjItMTAuNy0xMi45LTEzLjktMC40LTEuMi0wLjYtMi40LTAuNi0zLjggMC0zLjUgMS4zLTYuOSAzLjYtOS4zIDIuMS0yLjIgNC45LTMuNCA3LjktMy40IDMuNyAwIDcuMSAxLjcgOS4zIDQuNiAyLjItMyA1LjUtNC43IDkuMi00LjhoMC4yYzYuMyAwIDExLjUgNS42IDExLjYgMTIuNCAwIDEuMy0wLjIgMi42LTAuNSAzLjktMC42IDMuMi00LjggNy45LTEyLjQgMTQuMS0zIDIuNS01LjQgNC4zLTcuMiA1LjQtMC4yIDAuMS0wLjMgMC4yLTAuNSAwLjJ6IiBmaWxsPSIjREYyRjJCIi8+Cjwvc3ZnPgo=');
}

#controls #hate {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPjxnIGZpbGw9IiM1ODU5NUIiPjxwYXRoIGQ9Ik0yNS45IDMxLjdsLTUuNC02LjkgNC4xLTYuOS0yLjQtOC43Yy0yLjEtMS44LTQuNy0yLjgtNy42LTIuOC0zIDAtNS44IDEuMi03LjkgMy40QzQuMyAxMi4zIDMgMTUuNyAzIDE5LjNjMCAxLjMuMiAyLjYuNiAzLjguNyAzLjIgNSA3LjggMTIuOSAxNCAxLjYgMS4yIDMuOCAyLjggNS40IDMuOWw0LTkuM3pNMzMuNCA2LjNoLS4yYy0yLjggMC01LjQgMS4xLTcuNSAyLjlsMi41IDkuMy0zLjcgNi4yIDUuMiA2LjYtNC43IDExYzEuOC0xLjIgNC4yLTMgNy4xLTUuNCA3LjYtNi4zIDExLjgtMTEuMSAxMi41LTE0LjIuNC0xLjIuNS0yLjUuNS0zLjktLjEtNi45LTUuMy0xMi41LTExLjctMTIuNXoiLz48L2c+PC9zdmc+');
}
#controls #hate:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPjxnIGZpbGw9IiNERjJGMkIiPjxwYXRoIGQ9Ik0yNS44IDMxLjVsLTUuNC02LjkgNC4xLTYuOUwyMi4yIDljLTIuMS0xLjgtNC43LTIuOC03LjYtMi44LTMgMC01LjggMS4yLTcuOSAzLjRDNC4zIDEyIDMgMTUuNCAzIDE5YzAgMS4zLjIgMi42LjYgMy44LjcgMy4yIDUgNy44IDEyLjkgMTQgMS42IDEuMiAzLjggMi44IDUuNCAzLjlsMy45LTkuMnpNMzMuNCA2aC0uMmMtMi44IDAtNS40IDEuMS03LjUgMi45bDIuNSA5LjMtMy43IDYuMiA1LjIgNi42TDI1IDQyYzEuOC0xLjIgNC4yLTMgNy4xLTUuNCA3LjYtNi4zIDExLjgtMTEuMSAxMi41LTE0LjIuNC0xLjIuNS0yLjUuNS0zLjlDNDUgMTEuNiAzOS43IDYgMzMuNCA2eiIvPjwvZz48L3N2Zz4=');
}

#controls #like.liked {
  box-shadow: none;
  background-color: #FFF;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdmlld0JveD0iMCAwIDQ4IDQ4IiB2ZXJzaW9uPSIxLjEiIHk9IjBweCIgeD0iMHB4IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNDggNDgiPgoJCTxwYXRoIGQ9Im0yNC4zIDQyLjNjLTAuMSAwLTAuMyAwLTAuNC0wLjFsLTAuMS0wLjFjLTAuMS0wLjEtMC4zLTAuMi0wLjYtMC40LTEuNC0wLjktNC41LTMuMi02LjYtNC44LTgtNi4yLTEyLjItMTAuNy0xMi45LTEzLjktMC40LTEuMi0wLjYtMi40LTAuNi0zLjggMC0zLjUgMS4zLTYuOSAzLjYtOS4zIDIuMS0yLjIgNC45LTMuNCA3LjktMy40IDMuNyAwIDcuMSAxLjcgOS4zIDQuNiAyLjItMyA1LjUtNC43IDkuMi00LjhoMC4yYzYuMyAwIDExLjUgNS42IDExLjYgMTIuNCAwIDEuMy0wLjIgMi42LTAuNSAzLjktMC42IDMuMi00LjggNy45LTEyLjQgMTQuMS0zIDIuNS01LjQgNC4zLTcuMiA1LjQtMC4yIDAuMS0wLjMgMC4yLTAuNSAwLjJ6IiBmaWxsPSIjREYyRjJCIi8+Cjwvc3ZnPgo=');
  cursor: default;
}
#controls #hate.liked {
  display: none;
}
