body {
  padding: 15px;
  -webkit-user-select: none;
}

#alert {
  background: #000;
  color: #FFF;
  display: none;
  font-size: 25px;
  height: 100%;
  left: 0;
  opacity: .9;
  position: fixed;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
}

#alert span {
  display: table-cell;
  vertical-align: middle;
}

#controls {
  text-align: center;
}

#controls ul {
  display: table;
  margin: 0;
  overflow: auto;
  padding: 0;
  vertical-align: middle;
}

#controls li {
  display: table-cell;
  list-style: none;
  padding-right: 10px;
}

#controls li:last-child {
  padding-right: 0;
}

#controls a {
  background-color: #E94E4C;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #FFF;
  display: table;
  font-size: 30px;
  height: 50px;
  outline: none;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

#controls #play.play {
  background-image: url("../img/buttons/play.png");
  background-position: 12px 10px;
  height: 70px;
  width: 70px;
}
#controls #play.pause {
  background-image: url("../img/buttons/pause.png");
  background-position: 12px 10px;
  height: 70px;
  width: 70px;
}

#controls #next {
  background-image: url("../img/buttons/next.png");
  background-position: 8px 5px;
}

#controls #like {
  background-image: url("../img/buttons/like.png");
}

#controls #hate {
  background-image: url("../img/buttons/hate.png");
}

#controls #like, #controls #hate {
  background-position: 4px 6px;
}

#controls #like.liked {
  box-shadow: none;
  background-color: #FFF;
  background-image: url("../img/buttons/liked.png");
  cursor: default;
}
#controls #hate.liked {
  display: none;
}
