body {
  padding: 15px;
}

.controls {
  text-align: center;
}

.controls ul {
  display: table;
  margin: 0;
  overflow: auto;
  padding: 0;
  vertical-align: middle;
}

.controls li {
  display: table-cell;
  list-style: none;
  padding-right: 10px;
}

.controls li:last-child {
  padding-right: 0;
}

.controls a {
  background-color: #E94E4C;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #FFF;
  display: table;
  font-size: 30px;
  height: 50px;
  outline: none;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

.controls a i {
  margin-top: 11px;
}

.controls a.play {
  font-size: 40px;
  height: 70px;
  width: 70px;
}
.controls a.play i {
  margin-top: 15px;
}

.controls i.fa-volume-off {
  text-align: left;
  width: 28px;
}

.controls #like.liked {
  box-shadow: none;
  background: #FFF;
  color: #E94E4C;
  cursor: default;
}
